# <dominio> / <puerto> / <directorio a hacer copia>
# Hay que dejar una línea en blanco a finalizar este fichero
#===================================
# laflordearagon
#===================================
laflordearagon.es 22 /home/ubuntu/temp
laflordearagon.es 22 /home/ubuntu/docker
laflordearagon.es 22 /etc
#===================================
# podereuropeo.duckdns.org
#===================================
#podereuropeo.duckdns.org 22 /home/ubuntu/docker
#===================================
# theaskervps.duckdns.org
#===================================
#theaskervps.duckdns.org 22 /etc
#theaskervps.duckdns.org 22 /home/ubuntu/docker
#===================================
# theasker.duckdns.org
#===================================
#theasker.duckdns.org 22 /etc
#theasker.duckdns.org 2222 /etc
#theasker.duckdns.org 2222 /home/theasker/.config/xfce4
